@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'esti';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../Fonts/GT-Eesti-Pro-Display-Medium.woff2) format('woff2');
  }
}